{% extends 'base.html' %}

{% block content %}

<div class="overflow-x-auto py-6 px-20">
    <h2 class="text-3xl font-bold text-gray-800 dark:text-gray-100 my-3">Expenses</h2>
    <table class="table w-full">
        <!-- head -->
        <thead>
            <tr>
                <th>Expense Name</th>
                <th>Amount</th>
                <th>Budget</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <td>{{ expense.name }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.budget }}</td>
                    <td>
                        <ul class="menu menu-horizontal p-0">
                            <li><a class="btn btn-outline btn-primary mr-3">Edit</a></li>
                            <li><a class="btn btn-outline btn-secondary" >Delete</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}